#vignette1{top: 10px ; left: 110px}
#vignette2{top: 3568px ; left: 828px}
#vignette3{top: 10px ; left: 258px}
#vignette4{top: 1106px ; left: 480px}
#vignette5{top: 1106px ; left: 510px}
#vignette6{top: 10px ; left: 324px}
#vignette7{top: 40px ; left: 324px}
#vignette8{top: 40px ; left: 110px}
#vignette9{top: 774px ; left: 830px}
#vignette10{top: 804px ; left: 830px}
#vignette11{top: 10px ; left: -10px}
#vignette12{top: 372px ; left: 116px}
#vignette13{top: 40px ; left: -10px}
#vignette14{top: 70px ; left: -10px}
#vignette15{top: 100px ; left: -10px}
#vignette16{top: 130px ; left: -10px}
#vignette17{top: 3448px ; left: 828px}
#vignette18{top: 402px ; left: 116px}
#vignette19{top: 4390px ; left: 244px}
#vignette20{top: 402px ; left: 320px}