#vignette1{top: 52px ; left: 392px}
#vignette2{top: 2024px ; left: 488px}
#vignette3{top: 232px ; left: 96px}
#vignette4{top: 1140px ; left: 700px}
#vignette5{top: 644px ; left: 118px}
#vignette6{top: 106px ; left: 100px}
#vignette7{top: 106px ; left: 226px}
#vignette8{top: 52px ; left: 576px}
#vignette9{top: 10px ; left: 872px}
#vignette10{top: 40px ; left: 872px}
#vignette11{top: 10px ; left: -10px}
#vignette12{top: 266px ; left: 236px}
#vignette13{top: 40px ; left: -10px}
#vignette14{top: 70px ; left: -10px}
#vignette15{top: 100px ; left: -10px}
#vignette16{top: 130px ; left: -10px}
#vignette17{top: 2120px ; left: 232px}
#vignette18{top: 470px ; left: 98px}
#vignette19{top: 2120px ; left: 262px}
#vignette20{top: 744px ; left: 366px}