#vignette1{top: 40px ; left: 100px}
#vignette2{top: 2400px ; left: 600px}
#vignette3{top: 600px ; left: 250px}
#vignette4{top: 530px ; left: 180px}
#vignette5{top: 530px ; left: 210px}
#vignette6{top: 128px ; left: 100px}
#vignette7{top: 158px ; left: 100px}
#vignette8{top: 70px ; left: 100px}
#vignette9{top: 50px ; left: 880px}
#vignette10{top: 80px ; left: 880px}
#vignette11{top: 10px ; left: -10px}
#vignette12{top: 580px ; left: 550px}
#vignette13{top: 40px ; left: -10px}
#vignette14{top: 70px ; left: -10px}
#vignette15{top: 100px ; left: -10px}
#vignette16{top: 130px ; left: -10px}
#vignette17{top: 2276px ; left: 70px}
#vignette18{top: 450px ; left: 100px}
#vignette19{top: 2400px ; left: 70px}
#vignette20{top: 656px ; left: 390px}